
.header-section h1  {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #121212;
  background-color: #bfc4cb;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
}


.nav {
  margin-top: 5px;
  background-color: #446f9c;
  padding: 20px;

}


.nav ul {
  display: flex;
  justify-content: space-evenly;  
  gap: 30px;                  
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav ul li {
  padding: 10px 20px;
  border-radius: 6px ;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  border: 1px dotted;
  color: #faf8f8;
  text-decoration: none;

}


.nav ul li:hover {
  background: #c9d98f;
  transform: scale(1.05);

}


 .nav a {
  text-decoration: none;
  color: rgb(249, 245, 245);
  font-size: larger;
} 

.footer p {
color: rgb(202, 190, 190);
background-color: black;
padding: 10px;
text-align: center;
border: 10px solid black;
    font-size: large;
    position: fixed;
    bottom: 0;
    /* width: calc(100% - 20px); */
    left: 10px;
    right: 10px;
}


.nav ul li:active {
  text-decoration: line-through;
  background-color: #449c48 !important;
}


/* Table code */

.table-container {
  max-height: 400px;    /* Adjust scroll height */
  overflow-y: auto;     /* Vertical scroll */
  border: 1px solid #ccc;
  border-radius: 3px;
  
}

/* Table styling */
.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background: white;   /* FIX */
  z-index: 10;         /* FIX */
  padding: 10px;
}

.table-container td,
.table-container th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-container tbody tr:hover {
  background-color: #f7f7f7;
}



tbody tr:nth-child(even) {
  background: #f5f7ff;
}

tbody tr:hover {
  background: #e3e8ff;
}
