
p{
    color:black;
    font-size: large;
    margin-bottom: 5px;
}
/* Background overlay behind modal */
.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;  /* Horizontal center */
  align-items: center;      /* Vertical center */

  z-index: 999;
}
/* Dark background */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Modal Box */
.modal-content {
  position: relative;
  background: #fff;
  width: 400px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  animation: popUp 0.3s ease;
}

/* Heading */
.modal-content h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

/* Animation */
@keyframes popUp {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: red;
}
